:root{
    --main-background: white;
    --note-text: black;
    --preview-background: #f2f2f2;
    --search-button: #e6e6e6;
    --edit-bar: #F1F1F1;
    --active-button1: #962EFF;
    --active-button2: #962EFF;
    --disable-button: #6A6A6A;
    --editbar-hover: #D2D2D2;
    --active-search: white;
    --track-color: #E0E0E0;
    --track-shadow: gray;
    --active-scroll: #808080;
    --scroll-color: #A4A4A4;
    --gradient1: #a12eff;
    --gradient2: #962eff;
    --gradient3: #5f2eff;
    --navbar-hover: #5800B1;
    --card-shadow: #7B7B7B;
    --about-footer: #B66EFF;
    --about-icon: #E0E0E0;
}

[data-theme="dark"]{
    --main-background: #1B1B1B;
    --note-text: #D5D5D5;
    --preview-background: #4D4D4D;
    --search-button: #A8A8A8;
    --edit-bar: #2B2B2B;
    --active-button1: #962EFF;
    --active-button2: #D2A6FF;
    --disable-button: #ACACAC;
    --editbar-hover: #111111;
    --active-search: #6A6A6A;
    --track-color:#464646;
    --track-shadow: #2F2F2F;
    --active-scroll: #808080;
    --scroll-color: #676767;
    --card-shadow: #A8A8A8;
    --about-footer: #1E1E1E;
    --about-icon: #C286FF;
}

/* HomePage.js */

/* Scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: var(--track-color);
    box-shadow: inset 0 0 5px var(--track-shadow);
    border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:hover{ 
    background-color: var(--active-scroll);
}  

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p{
    margin: 0px;
    font-size: .75em;
    text-align: left;
}

textarea {
    background-color: var(--main-background);
}

::placeholder{
    color: var(--note-text);
}

.btn_row { width: 100%; }
.btn_elem { width: 20%; }

/* HomePage.js */
.my-container{
    height: 92vh;
}
.grid-container {
    height: 92vh;
    display: grid;
    grid-template-rows:  repeat(20, auto);
    grid-template-columns: repeat(5, 20%);
    background-color: var(--main-background);
}

/* Mobile screen */
@media (max-width: 768px) {
    .navbar-button{
        font-size: small;
    }

    .sidebar {
        grid-column: span 5;
        grid-row: 1/21;
    }

    .add-note {
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        width: 100%;
        margin: 1px auto 1px auto;
    }

    .search-notes {
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        width: 100%;
        margin: 1px auto 1px auto;
    }

    .notelist {
        margin-top: 4%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: center;
    }
    .editbar {
        grid-column: 0;
        grid-row: 0;
    }

    .editor {
        width: 100vw;
        grid-row: 1/21;
        grid-column: span 5;
    }

    .myfooter {
        grid-column: span 5;
    }

    .card-container{
        width: 45vw;
        height: 55vw;
    }

    .contact-card{
        width: 70%;
    }

    .contact-container{
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 100%;
        height:auto !important;
        height: 100%; 
    }

    .contact-title{
        padding-top: 6vh;
        font-size: 1.2em;
    }
}

/* Laptop screen */
@media (min-width: 769px) {
    aside{
        overflow-y:scroll;
    }

    .navbar-button{
        font-size: 1em;
    }

    .sidebar {
        grid-column: 1;
        grid-row: 1 / 20;
    }

    .add-note {
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        width: 100%;
        margin: 10%;
    }

    .search-notes {
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        width: 100%;
        margin: 10%;
    }

    .notelist {
        grid-column: 1;
        grid-row: 2 / 20;
    }

    .edit-section {
        display: grid;
        grid-column: 2 / 6;
        grid-row: 2 / 20;
    }

    .editbar {
        grid-column: span 5;
        grid-row: 1;
    }

    .editor {
        grid-column: span 5;
        grid-row: 1 / 20;
    }

    .myfooter {
        grid-column: span 5;
        grid-row: 20;
    }

    .card-container{
        width: 75%;
        height: 35%;
    }

    .contact-card{
        width: 30%
    }

    .contact-container{
        justify-content: center; 
        align-items: center;
        height: 100%;
    }
}

.myfooter {
    width: 100%;
    text-align: center;
    color: var(--active-button2);  
    background-color: var(--main-background);
}

#note-body{
    width: 100%;
    height: 82%;
    border: none;
    overflow: auto;
    outline: none;
    padding-left: 2%;    
    color: var(--note-text);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    overflow-y: scroll;
}

#note-title{
    width: 100%;
    height: 12%;
    overflow: none;
    outline: none;
    white-space: nowrap;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-weight: 500;
    color: var(--note-text);
    padding: 2% 0% 0% 2%;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: var(--note-text);
}

/* SideBar.js */

aside{
    background-color: var(--main-background);  
}

.search-add{
    height: 8vh;
    text-align: center;
}

.notelist{
    list-style-type: none;
}

.notecard, .notecard:visited, .notecard:hover, .notecard:active, .notecard:link, .notecard:focus {
    text-decoration: none;
    color: var(--note-text);
}

.noteitem {
    margin: 2%;
}

/* EditBar.js */

.editbar{
    display:flex;
    height: 6%;
    justify-content: flex-end;
    padding: 0% 2% 0% 2%;
    background-color: var(--edit-bar);
}

.editbar-button{
    padding: 0% 2% 0% 2%;
    font-size: 1.5em;
    color: var(--active-button2);
    background-color: var(--edit-bar)
}

.editbar-button:hover:enabled, .editbar-button:focus:enabled{
    border-radius: 5px;
    background-color: var(--editbar-hover);
}

.editbar-button:disabled{
    color: var(--disable-button);
    color: #9F9F9F;
    border: none;
}

.edit-text{
    margin-right:auto;
    color: var(--active-button2);
    align-self:center;
    font-weight: 500;
}

.search-notes .add-note {
    min-width: 80%;
    justify-content: space-around;
}

.search {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--search-button);
    width: 70%;
    height: 70%;
    margin: 2vh;
    font-size: 1.2em;
    padding: 4%;
}

input.search{
    background-color: var(--preview-background);
    color: var(--note-text);
}


.search:hover, .search:focus {
    transform: scaleX(1.075);
    box-shadow: 0px 0px 5px var(--main-background);
    background-color: var(--active-search);
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Editor.js */
.editor{
    height: 100%;
}

/* AddButton.js */

.add-button{
    border-radius: 50px;
    color: white;
    background-color: var(--active-button1);
    width: 70%;
    height: 7vh;
    margin: 2vh;
    font-size: 1.2em;
    line-height: 100%;
}

#new-icon{
    font-size: 1.5em;
    font-weight: 900;
}

.add-button:hover, .add-button:focus{
    border: none;
    transform: scale(1.05);
}

.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* NotePreview.js */

.card-container{
    overflow: hidden;
    margin: auto;
    margin-top: 5% 0% 10% 0%;
    padding-bottom: 4%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--preview-background);
    overflow: hidden;
}

.card-container:hover, .card-container:focus{
    transform: scale(1.025);
    text-decoration: none;
}

.card-content{
    margin: 0px;
    margin-top: 0.2rem;
    border-bottom: solid 5px var(--preview-background);
    overflow:hidden;
}

.card-content:hover, .card-content:focus{
    text-decoration: none;
}

.card-body{
    display:block;
    margin: auto;
    padding: 2%;
    overflow: hidden;
}

.card-title{
    font-size: 1.5em;
    text-align: center;
    padding: 2%;
    overflow: hidden;
}

/* NavBar.js */

.main-navbar{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 8vh;
    align-items: center;
    background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 56%, var(--gradient3) 100%);
    padding: 0% 2% 0% 2%;
}



.navbar-button{
    width: 100%;
    height: 100%;
    background-color: inherit;
    font-weight: bold;
    white-space: nowrap;
    color: white;

}

.navbar-button:hover, .navbar-button:focus{
    background-color: var(--navbar-hover);
}

#logo{
    width: 5vh;
}

#home-button{
    grid-column: 5;
}


#dark-button{
    grid-column: 6;
}


#contact-button{
    grid-column: 7;
}


#about-button{
    grid-column: 8;
}

/* About.js */

.about-container{
    height: 76vh;
    padding: 6% 8% 6% 8%;
    font-size: 1.5em;
    background-color: var(--main-background);
    overflow-y: auto;
}

.about-text{
    color: var(--note-text);
}

.about-icon{
    display: inline-block;
    padding: 2%;
    color: var(--about-icon);
    font-size: 1.75em;
}

.about-footer{
    height: 16vh;
    display: flex;
    justify-content: space-around;
    background-color: var(--about-footer);
}

.about-header{
    color: var(--note-text);
}

.about-text{
    color: var(--note-text);
    margin-bottom: 5%;
}

/* Contact.js */

.contact-container{
    display:flex;
    background: var(--main-background);
}

/* ContactCard.js */
  
.contact-card{
    font-size: 1.25em; 
    margin: 5%; 
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 10px var(--track-shadow);
    padding: 2%;
    color: var(--note-text);
    background-color: var(--preview-background);
}

.content-box{
    text-align: center;
}

.contact-title{
  text-align: center;
  color: var(--note-text);
}

h2{
  padding: 0px;
  margin: 0px;
}

.contact-image{
  display:block;
  max-width: 50%;
  margin: 5% auto 5% auto;
  border-radius: 50%;
}

.contact-link{
    text-align: center;
    color: var(--note-text);
    margin: 5%;
}

.contact-link:hover, .contact-link:focus{
    text-align: center;
    text-decoration: none;
}