h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--indigo);
}

.navbar {
  width: 100%;
  font-size: 2em;
  list-style-type: none;
}

.navitem {
  display: inline;
}

a {
  text-decoration: none;
  color:black;
}

a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: none;
  color:black;
}

a:focus {
  text-decoration: none;
  color:black;
}

a:active {
  text-decoration: none;
  color:black;
}

.notelist {
  list-style-type: none;
  padding: 5px;
  text-align: center;
  align-items: center;
}

.noteitem {
  /* border: 1px solid #888; */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.noteicon {
  width: 50px;
  height: 50px;
}

textarea {
  width: 100%;
  height: 400px;
}

.btn_row { width: 100%; }
.btn_elem { width: 20%; }

.grid-item1 { grid-area: item1; border: 1px solid; }
.grid-item2 { grid-area: item2; border: 1px solid; }
.grid-item3 { grid-area: item3; border: 1px solid; }
.grid-item4 { grid-area: item4; border: 1px solid; }
.grid-item5 { grid-area: item5; }
.grid-item6 { grid-area: item6; }
.grid-item7 { grid-area: item7; }
.grid-item8 { grid-area: item8; }
.grid-item9 { grid-area: item9; }
.grid-item10 { grid-area: item10; }

.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    border: 2px solid var(--gray-dark);
    grid-template-areas:
        'item1 item1 item1 item1 item1'
        'item2 item3 item3 item3 item3'
        'item2 item3 item3 item3 item3' 
        'item2 item3 item3 item3 item3'
        'item2 item3 item3 item3 item3'                
        'item4 item4 item4 item4 item4';
}

aside{
  width:300px;
  height: 500px;
  overflow-y:scroll;
  align-items: center;
  background-color: #f2f2f2;  
  }

  /* Scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active { 
  background-color: #808080;
}  

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--indigo);  
}
