.wrapper {
    position: relative;
    display: flex;
    min-width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 40px;
    width: 80%;
    padding: 2px 20px 2px 20px;
    /* outline: 0; */
    background-color: #e6e6e6;
    ;
  }

  .search:hover, .search:focus {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 0px;
    background-color: white;
  }

  /* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

  

